
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-main {
  flex: 1;
  padding-bottom: 20px;
}

.footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  margin-top: auto;
}

.footer p {
  margin: 0;
  font-size: 14px;
}
